In [67]:
# Importing the necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import timedelta

In [68]:
pd.options.display.max_rows = 30
pd.options.display.max_columns = None

In [69]:
import pandas as pd

# Load the dataset
df_daily_activities = pd.read_csv('daily_activities.csv')
# Load the dataset
df_daily_matches_summary = pd.read_csv('data_matches_summary.csv')
# Load the dataset
df_user_purchase_summary_inApp = pd.read_csv('user_purchase_summary_inApp.csv')
# Load the dataset
df_user_purchase_summary_virtual = pd.read_csv('user_purchase_summary_virtual.csv')

In [70]:
df_daily_activities.head()
df_daily_activities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28230 entries, 0 to 28229
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   user_id                     28230 non-null  int64
 1   total_active_days           28230 non-null  int64
 2   acquisition_date            28230 non-null  object
 3   last_date_daily_activities  28230 non-null  object
 4   Platform_used               28230 non-null  object
 5   Total_activity_days         28230 non-null  int64
dtypes: int64(3), object(3)
memory usage: 1.3+ MB

In [71]:
df_daily_matches_summary.head()

,user_id,total_matches,average_bots_per_match,average_position_per_match,first_activity_date,last_activity_date,preferred_match_type,unique_activity_days,number_of_days
0,272069,7,0.80,2.80,2024-04-12,2024-04-20,A,2,9
1,272070,662,1.15,2.61,2024-03-19,2024-05-01,B,44,44
2,272071,17,1.80,2.73,2024-04-15,2024-04-27,B,6,13
3,272073,2,3.00,2.00,2024-04-12,2024-04-12,B,1,1
4,272077,3,3.00,3.00,2024-03-27,2024-04-30,B,3,35

In [72]:
df_user_purchase_summary_inApp.head()

,user_id,total_purchase_value_inApp,total_purchases_inApp,first_purchase_date_inApp,last_purchase_date_inApp,number_of_purchase_days_inApp,preferred_product_inApp,average_purchase_value_inApp
0,272143,4.99,1,2024-03-01,2024-03-01,1,Gold,4.99
1,272161,9.99,1,2024-04-15,2024-04-15,1,Gold,9.99
2,272164,129.94,6,2024-04-15,2024-05-01,4,Gold,21.66
3,272189,89.86,14,2024-03-06,2024-04-21,10,Promotion,6.42
4,272192,9.98,2,2024-04-14,2024-04-14,1,Promotion,4.99

In [73]:
df_user_purchase_summary_virtual.head()

,user_id,total_spend_virtual,total_no_purchases_virtual,first_gold_spend_date_virtual,last_gold_spend_date_virtual,number_of_purchase_days_virtual,preferred_product_virtual,average_spend_per_purchase_virtual
0,272070,163,6,2024-03-17,2024-04-04,6,Weapon,27.17
1,272071,27,2,2024-04-03,2024-04-12,2,Weapon,13.50
2,272077,17,2,2024-03-23,2024-03-24,2,Weapon,8.50
3,272079,68,1,2024-04-15,2024-04-15,1,Weapon,68.00
4,272082,36,2,2024-04-02,2024-04-04,2,Weapon,18.00

In [74]:
df_merged_data=pd.merge(df_daily_activities,df_daily_matches_summary, on='user_id',how='left')
df_merged_data=pd.merge(df_merged_data,df_user_purchase_summary_inApp, on='user_id',how='left')
df_merged_data=pd.merge(df_merged_data,df_user_purchase_summary_virtual, on='user_id',how='left')
df_merged_data

,user_id,total_active_days,acquisition_date,last_date_daily_activities,Platform_used,Total_activity_days,total_matches,average_bots_per_match,average_position_per_match,first_activity_date,last_activity_date,preferred_match_type,unique_activity_days,number_of_days,total_purchase_value_inApp,total_purchases_inApp,first_purchase_date_inApp,last_purchase_date_inApp,number_of_purchase_days_inApp,preferred_product_inApp,average_purchase_value_inApp,total_spend_virtual,total_no_purchases_virtual,first_gold_spend_date_virtual,last_gold_spend_date_virtual,number_of_purchase_days_virtual,preferred_product_virtual,average_spend_per_purchase_virtual
0,272069,53,2024-03-01,2024-05-01,ios,62,7,0.80,2.80,2024-04-12,2024-04-20,A,2,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,272070,47,2024-03-16,2024-05-01,android,47,662,1.15,2.61,2024-03-19,2024-05-01,B,44,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,163.0,6.0,2024-03-17,2024-04-04,6.0,Weapon,27.17
2,272071,28,2024-04-01,2024-05-01,android,31,17,1.80,2.73,2024-04-15,2024-04-27,B,6,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,2.0,2024-04-03,2024-04-12,2.0,Weapon,13.50
3,272073,22,2024-04-04,2024-04-30,android,27,2,3.00,2.00,2024-04-12,2024-04-12,B,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,272077,36,2024-03-23,2024-05-01,ios,40,3,3.00,3.00,2024-03-27,2024-04-30,B,3,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,2.0,2024-03-23,2024-03-24,2.0,Weapon,8.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28225,309398,8,2024-03-12,2024-03-21,android,10,3,3.00,2.00,2024-03-17,2024-03-19,B,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,2024-03-14,2024-03-14,1.0,Weapon,5.00
28226,309399,13,2024-03-01,2024-04-14,android,45,1,3.00,1.00,2024-03-18,2024-03-18,A,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,2.0,2024-03-01,2024-03-11,2.0,Weapon,17.00
28227,309400,30,2024-03-23,2024-04-30,android,39,1,3.00,1.00,2024-04-04,2024-04-04,A,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,2024-03-27,2024-03-27,1.0,Weapon,5.00
28228,309401,4,2024-03-31,2024-04-03,android,4,8,2.00,2.40,2024-04-03,2024-04-03,B,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,3.0,2024-03-31,2024-04-03,3.0,Weapon,15.33
28229,309402,15,2024-03-05,2024-04-15,android,42,9,2.14,2.71,2024-03-15,2024-03-28,B,4,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,3.0,2024-03-06,2024-03-10,3.0,Weapon,10.67

In [75]:
df_merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28230 entries, 0 to 28229
Data columns (total 28 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   user_id                             28230 non-null  int64
 1   total_active_days                   28230 non-null  int64
 2   acquisition_date                    28230 non-null  object
 3   last_date_daily_activities          28230 non-null  object
 4   Platform_used                       28230 non-null  object
 5   Total_activity_days                 28230 non-null  int64
 6   total_matches                       28230 non-null  int64
 7   average_bots_per_match              28230 non-null  float64
 8   average_position_per_match          28230 non-null  float64
 9   first_activity_date                 28230 non-null  object
 10  last_activity_date                  28230 non-null  object
 11  preferred_match_type                28230 non-null  object
 12  unique_activity_days                28230 non-null  int64
 13  number_of_days                      28230 non-null  int64
 14  total_purchase_value_inApp          1042 non-null   float64
 15  total_purchases_inApp               1042 non-null   float64
 16  first_purchase_date_inApp           1042 non-null   object
 17  last_purchase_date_inApp            1042 non-null   object
 18  number_of_purchase_days_inApp       1042 non-null   float64
 19  preferred_product_inApp             1042 non-null   object
 20  average_purchase_value_inApp        1042 non-null   float64
 21  total_spend_virtual                 20859 non-null  float64
 22  total_no_purchases_virtual          20859 non-null  float64
 23  first_gold_spend_date_virtual       20859 non-null  object
 24  last_gold_spend_date_virtual        20859 non-null  object
 25  number_of_purchase_days_virtual     20859 non-null  float64
 26  preferred_product_virtual           20859 non-null  object
 27  average_spend_per_purchase_virtual  20859 non-null  float64
dtypes: float64(10), int64(6), object(12)
memory usage: 6.0+ MB

In [76]:
# Imputer the null values with appropriate values
df_merged_data.fillna({'average_spend_per_purchase_virtual': 0}, inplace=True)
df_merged_data.fillna({'preferred_product_virtual': 'No Preference'}, inplace=True)
df_merged_data.fillna({'number_of_purchase_days_virtual': 0}, inplace=True)
df_merged_data.fillna({'last_gold_spend_date_virtual': 'No last spend date'}, inplace=True)
df_merged_data.fillna({'first_gold_spend_date_virtual': 'No first spend date'}, inplace=True)
df_merged_data.fillna({'total_no_purchases_virtual': 0}, inplace=True)
df_merged_data.fillna({'total_spend_virtual': 0}, inplace=True)
df_merged_data.fillna({'preferred_product_inApp': 'No Preference'}, inplace=True)
df_merged_data.fillna({'average_purchase_value_inApp': 0}, inplace=True)
df_merged_data.fillna({'number_of_purchase_days_inApp': 0}, inplace=True)
df_merged_data.fillna({'last_purchase_date_inApp': 'No last purchase date'}, inplace=True)
df_merged_data.fillna({'first_purchase_date_inApp': 'No first purchase date'}, inplace=True)
df_merged_data.fillna({'total_purchases_inApp': 0}, inplace=True)
df_merged_data.fillna({'total_purchase_value_inApp': 0}, inplace=True)

In [77]:
df_merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28230 entries, 0 to 28229
Data columns (total 28 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   user_id                             28230 non-null  int64
 1   total_active_days                   28230 non-null  int64
 2   acquisition_date                    28230 non-null  object
 3   last_date_daily_activities          28230 non-null  object
 4   Platform_used                       28230 non-null  object
 5   Total_activity_days                 28230 non-null  int64
 6   total_matches                       28230 non-null  int64
 7   average_bots_per_match              28230 non-null  float64
 8   average_position_per_match          28230 non-null  float64
 9   first_activity_date                 28230 non-null  object
 10  last_activity_date                  28230 non-null  object
 11  preferred_match_type                28230 non-null  object
 12  unique_activity_days                28230 non-null  int64
 13  number_of_days                      28230 non-null  int64
 14  total_purchase_value_inApp          28230 non-null  float64
 15  total_purchases_inApp               28230 non-null  float64
 16  first_purchase_date_inApp           28230 non-null  object
 17  last_purchase_date_inApp            28230 non-null  object
 18  number_of_purchase_days_inApp       28230 non-null  float64
 19  preferred_product_inApp             28230 non-null  object
 20  average_purchase_value_inApp        28230 non-null  float64
 21  total_spend_virtual                 28230 non-null  float64
 22  total_no_purchases_virtual          28230 non-null  float64
 23  first_gold_spend_date_virtual       28230 non-null  object
 24  last_gold_spend_date_virtual        28230 non-null  object
 25  number_of_purchase_days_virtual     28230 non-null  float64
 26  preferred_product_virtual           28230 non-null  object
 27  average_spend_per_purchase_virtual  28230 non-null  float64
dtypes: float64(10), int64(6), object(12)
memory usage: 6.0+ MB

In [78]:
# Convert to datetime with correct format
df_merged_data['acquisition_date'] = pd.to_datetime(df_merged_data['acquisition_date'], format='%Y-%m-%d')
df_merged_data['last_date_daily_activities'] = pd.to_datetime(df_merged_data['last_date_daily_activities'], format='%Y-%m-%d')
df_merged_data['first_activity_date'] = pd.to_datetime(df_merged_data['first_activity_date'], format='%Y-%m-%d')
df_merged_data['last_activity_date'] = pd.to_datetime(df_merged_data['last_activity_date'], format='%Y-%m-%d')

df_merged_data

,user_id,total_active_days,acquisition_date,last_date_daily_activities,Platform_used,Total_activity_days,total_matches,average_bots_per_match,average_position_per_match,first_activity_date,last_activity_date,preferred_match_type,unique_activity_days,number_of_days,total_purchase_value_inApp,total_purchases_inApp,first_purchase_date_inApp,last_purchase_date_inApp,number_of_purchase_days_inApp,preferred_product_inApp,average_purchase_value_inApp,total_spend_virtual,total_no_purchases_virtual,first_gold_spend_date_virtual,last_gold_spend_date_virtual,number_of_purchase_days_virtual,preferred_product_virtual,average_spend_per_purchase_virtual
0,272069,53,2024-03-01,2024-05-01,ios,62,7,0.80,2.80,2024-04-12,2024-04-20,A,2,9,0.0,0.0,No first purchase date,No last purchase date,0.0,No Preference,0.0,0.0,0.0,No first spend date,No last spend date,0.0,No Preference,0.00
1,272070,47,2024-03-16,2024-05-01,android,47,662,1.15,2.61,2024-03-19,2024-05-01,B,44,44,0.0,0.0,No first purchase date,No last purchase date,0.0,No Preference,0.0,163.0,6.0,2024-03-17,2024-04-04,6.0,Weapon,27.17
2,272071,28,2024-04-01,2024-05-01,android,31,17,1.80,2.73,2024-04-15,2024-04-27,B,6,13,0.0,0.0,No first purchase date,No last purchase date,0.0,No Preference,0.0,27.0,2.0,2024-04-03,2024-04-12,2.0,Weapon,13.50
3,272073,22,2024-04-04,2024-04-30,android,27,2,3.00,2.00,2024-04-12,2024-04-12,B,1,1,0.0,0.0,No first purchase date,No last purchase date,0.0,No Preference,0.0,0.0,0.0,No first spend date,No last spend date,0.0,No Preference,0.00
4,272077,36,2024-03-23,2024-05-01,ios,40,3,3.00,3.00,2024-03-27,2024-04-30,B,3,35,0.0,0.0,No first purchase date,No last purchase date,0.0,No Preference,0.0,17.0,2.0,2024-03-23,2024-03-24,2.0,Weapon,8.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28225,309398,8,2024-03-12,2024-03-21,android,10,3,3.00,2.00,2024-03-17,2024-03-19,B,2,3,0.0,0.0,No first purchase date,No last purchase date,0.0,No Preference,0.0,5.0,1.0,2024-03-14,2024-03-14,1.0,Weapon,5.00
28226,309399,13,2024-03-01,2024-04-14,android,45,1,3.00,1.00,2024-03-18,2024-03-18,A,1,1,0.0,0.0,No first purchase date,No last purchase date,0.0,No Preference,0.0,34.0,2.0,2024-03-01,2024-03-11,2.0,Weapon,17.00
28227,309400,30,2024-03-23,2024-04-30,android,39,1,3.00,1.00,2024-04-04,2024-04-04,A,1,1,0.0,0.0,No first purchase date,No last purchase date,0.0,No Preference,0.0,5.0,1.0,2024-03-27,2024-03-27,1.0,Weapon,5.00
28228,309401,4,2024-03-31,2024-04-03,android,4,8,2.00,2.40,2024-04-03,2024-04-03,B,1,1,0.0,0.0,No first purchase date,No last purchase date,0.0,No Preference,0.0,46.0,3.0,2024-03-31,2024-04-03,3.0,Weapon,15.33
28229,309402,15,2024-03-05,2024-04-15,android,42,9,2.14,2.71,2024-03-15,2024-03-28,B,4,14,0.0,0.0,No first purchase date,No last purchase date,0.0,No Preference,0.0,32.0,3.0,2024-03-06,2024-03-10,3.0,Weapon,10.67

In [80]:
# Calculate normalized scores for each metric
df['activity_score'] = df['Total_activity_days'] / df['Total_activity_days'].max()
df['frequency_score'] = df['total_matches'] / df['total_matches'].max()
df['spending_score'] = df['total_spend_virtual'] / df['total_spend_virtual'].max()
df['purchase_score'] = df['number_of_purchases_virtual'] / df['number_of_purchases_virtual'].max()

# Combine scores into a total engagement score
df['combined_score'] = (df['activity_score'] * 0.25 +  # Weight each metric
                        df['frequency_score'] * 0.25 +
                        df['spending_score'] * 0.25 +
                        df['purchase_score'] * 0.25)

# Define thresholds for overall engagement level
engagement_thresholds = {
    'High': df['combined_score'].quantile(0.8),
    'Medium': df['combined_score'].quantile(0.5),
    'Low': df['combined_score'].quantile(0.2)
}

# Define engagement level based on combined score
def categorize_engagement(score):
    if score >= engagement_thresholds['High']:
        return 'High Engagement'
    elif score >= engagement_thresholds['Medium']:
        return 'Medium Engagement'
    else:
        return 'Low Engagement'

df['engagement_level'] = df['combined_score'].apply(categorize_engagement)

# Print the categorized data
print("Categorized User Data Based on Combined Metrics:")
print(df[['user_id', 'total_activity_days', 'total_matches', 'total_spend_virtual', 'number_of_purchases_virtual', 'combined_score', 'engagement_level']])

KeyError: 'number_of_purchases_virtual'